<!DOCTYPE html>
<html>
  <head>
    <title>FoodDotCom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%=  javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAo82B1dCxPWWlLhFr244TV2VPabqEnLc0&libraries=places" %>
  </head>

  <body>
    <script type="text/javascript">
      const initialize = () => {
        const input = document.getElementById('address-search-field');

        const defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(40.704759, -74.038335),
          new google.maps.LatLng(40.791704, -73.931882));

        const options = {
          types: ['address'],
          bounds: defaultBounds,
          strictBounds: true
        };
        autocomplete = new google.maps.places.Autocomplete(input, options);
      };
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <%= yield %>
  </body>
</html>
