<!DOCTYPE html>
<html>
  <head>
    <title>FoodDotCom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%=  javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAo82B1dCxPWWlLhFr244TV2VPabqEnLc0&libraries=places" %>
  </head>

  <body>

    <%= yield %>
    
  </body>
</html>
